{{page-title "AddProduct"}}

<div class="twelve wide stretched column">
  <div class="ui segment">
    <div  class="ui one column grid">
      <div class="column">
        <div class="ui attached segment"><i class="tags icon"></i>Ajout d'un produit</div>

          <Input @value={{@model.name}} placeholder="Entrez le nom du produit" class="form-control"/>
          <Input @value={{@model.price}} placeholder="Entrez le prix du produit" class="form-control"/>

        <div class="ui attached teal segment">
          <button {{action "save" @model}} class="ui teal button">Enregistrer</button>
          <LinkTo @route="sections.edit" @model={{@model.section.id}} class="ui teal basic button">Annuler</LinkTo>
        </div>

      </div>
    </div>
  </div>
</div>

{{outlet}}