{{page-title "AddProduct"}}

<div class="twelve wide stretched column">
  <div class="ui segment">
    <div  class="ui one column grid">
      <div class="column">
        <div class="ui attached segment"><i class="tags icon"></i>Ajout d'une section</div>

        <div class="ui attached teal segment">
          <Input @value={{@model.name}} placeholder="Entrez le nom du produit" class="form-control"/>
        </div>

        <div class="ui attached teal segment">
          <Input @value={{@model.price}} placeholder="Entrez le prix du produit" class="form-control"/>
        </div>

        <div class="ui attached teal segment">
          <UiDropdown class="selection" @selected={{@model.section}} @onChange={{fn (mut @model.section)}} as |execute mapper|>
            <div class="default text">Section</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each @model.sections as |section|}}
                <div data-value="{{map-value mapper section}}" class="item">
                  {{section.name}}
                </div>
              {{/each}}
            </div>
          </UiDropdown>
        </div>
        <br>

        <!--<div class="ui attached teal segment">
          <Input @value={{@model.packs}} placeholder="Entrez le packs du produit" class="form-control"/>
        </div>-->

        <div class="ui attached teal segment">
          <button {{action "save" @model}} class="ui teal button">Enregistrer</button>
          <LinkTo @route="sections" class="ui teal basic button">Annuler</LinkTo>
        </div>

      </div>
    </div>
  </div>
</div>

{{outlet}}