{{page-title "Ex2"}}

<h1>Services</h1>

<div class="card" style="width: 18rem;">
  <p>{{@model.countActive}}</p>
<ul class="list-group">
  {{#each @model.services as |service|}}
    <li class="list-group-item {{if service.active 'active' ''}}"
      {{action "toggleActive" service}}>{{service.name}} {{service.price}}€</li>
  {{/each}}
</ul>
  <p>Total : {{@model.sumActive}} €</p>
</div>
<button class="btn btn-primary" {{action "togglePromo"}}>Code promo</button><br><br>
{{outlet}}